[submodule "modules/yasnippet"]
	path = modules/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "modules/company-mode"]
	path = modules/company-mode
	url = git@github.com:company-mode/company-mode.git
[submodule "modules/smartparens"]
	path = modules/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "modules/dash.el"]
	path = modules/dash.el
	url = git@github.com:magnars/dash.el.git
[submodule "modules/flycheck"]
	path = modules/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "modules/irony-mode"]
	path = modules/irony-mode
	url = git@github.com:Sarcasm/irony-mode.git
